<%- include('includes/head.ejs') %>

    </head>


    <body>
        <%- include('includes/navigation.ejs') %>
            <br>
            <div class="container">
                <h3>Course Length Clustering</h3>
                <div id="length"></div>
                <!-- Table Course Length -->
                <table class="table table-hover">
                    <thead style="text-align: center" class=" bg-info text-light">
                        <tr>
                            <th scope="col">Cluster</th>
                            <th scope="col">Description</th>
                            <th scope="col">Number of Courses</th>
                            <th scope="col">Number of Registered Learners</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center">
                        <tr>
                            <th scope="row">C_L1</th>
                            <td>Long Courses</td>
                            <td>2</td>
                            <td>873</td>
                        </tr>
                        <tr>
                            <th scope="row">C_L2</th>
                            <td>Medium Courses</td>
                            <td>4</td>
                            <td>2480</td>
                        </tr>
                        <tr>
                            <th scope="row">C_L3</th>
                            <td>Short Courses</td>
                            <td>22</td>
                            <td>8745</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Course Bloom's Taxonomy</h3>
                <div id="bloom"></div>
                <!-- Table Bloom's Taxonomy -->
                <table class="table table-hover">
                    <thead style="text-align: center" class=" bg-info text-light">
                        <tr>
                            <th scope="col">Cluster</th>
                            <th scope="col">Description</th>
                            <th scope="col">Number of Courses</th>
                            <th scope="col">Number of Registered Learners</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center">
                        <tr>
                            <th scope="row">C_B1</th>
                            <td>Understanding-focus</td>
                            <td>8</td>
                            <td>4672</td>
                        </tr>
                        <tr>
                            <th scope="row">C_B2</th>
                            <td>Understanding, Applying, and Analyzing-focus</td>
                            <td>7</td>
                            <td>2075</td>
                        </tr>
                        <tr>
                            <th scope="row">C_B3</th>
                            <td>Remembering, Understanding, and Creating-focus</td>
                            <td>5</td>
                            <td>2758</td>
                        </tr>
                        <tr>
                            <th scope="row">C_B4</th>
                            <td>Applying-focus</td>
                            <td>8</td>
                            <td>2593</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <script>

                // Get data from csv
                Plotly.d3.csv("data/CourseClustering.csv", function (err, rows) {

                    function unpack(rows, key) {
                        return rows.map(function (row) { return row[key]; });
                    }
                    // Course Length Clustering
                    var data = [{
                        type: 'scatter',
                        mode: 'markers',
                        x: unpack(rows, 'effort'),
                        y: unpack(rows, 'totalhours'),
                        text: unpack(rows, 'LengthClustering'),
                        marker: {
                            size: unpack(rows, 'Registered'),
                            sizemode: "area"
                        },
                        transforms: [
                            {
                                type: 'groupby',
                                groups: unpack(rows, 'LengthClustering'),
                                styles: [
                                    { target: 'Long', value: { marker: { color: 'red', symbol: 'square' } } },
                                    { target: 'Medium', value: { marker: { color: 'blue', symbol: 'triangle-up' } } },
                                    { target: 'Short', value: { marker: { color: 'green', symbol: 'circle' } } }
                                ]
                            }]
                    }]

                    var layout = {
                        yaxis: {
                            type: 'log',
                            title: 'Total Hours'
                        },
                        xaxis: {
                            title: 'Effort (hour/week)'
                        }
                    }

                    var data2 = [{
                        type: 'parcoords',
                        pad: [80, 80, 80, 80],
                        line: {
                            color: unpack(rows, 'BloomCustering'),
                            colorscale: 'Jet'
                            // colorscale: [[0, 'rgb(160, 160, 160)'], [0.5, 'green'], [1, 'blue'], [0,'purple']]
                        },

                        dimensions: [{
                            range: [0, 100],
                            label: 'remember',
                            values: unpack(rows, 'remember')
                        }, {
                            constraintrange: [0, 100],
                            range: [0, 100],
                            label: 'understand',
                            values: unpack(rows, 'understand')
                        }, {
                            label: 'apply',
                            range: [0, 100],
                            values: unpack(rows, 'apply')
                        }, {
                            label: 'analyze',
                            range: [0, 100],
                            values: unpack(rows, 'analyze')
                        }, {
                            label: 'evaluate',
                            range: [0, 100],
                            values: unpack(rows, 'evaluate')
                        }, {
                            label: 'create',
                            range: [0, 100],
                            values: unpack(rows, 'create')
                        }]
                    }];

                    var layout2 = {
                        width: 800,
                        annotations: [
                            {
                                showarrow: false,
                                text: 'Higher sepal width',
                                x: 0, y: 1, xref: 'paper', yref: 'paper'
                            },
                            {
                                showarrow: false,
                                text: 'Lower petal width and length',
                                x: 0.9, y: .25, xref: 'paper', yref: 'paper'
                            }]
                    };

                    // Plot Graph
                    Plotly.plot('length', data, layout)

                    Plotly.plot('bloom', data2, layout);


                });





            </script>
            <%- include('includes/end.ejs') %>