<%- include('includes/head.ejs') %>

    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <nav id="navbar-example2" class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <h3 class="text-success">
                        <i class="fas fa-upload text-success"></i> Import</h3>
                </a>
            </nav>
            <div class="container">
                <!--  SINGLE FILE -->
                <div class="card">
                    <div class="card-body">
                        <form action="/import" method="POST" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label for="myFile" class="col-sm-2 col-form-label">CSV File : </label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" name="myFile" id="myFile" aria-describedby="myFile">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-success">Upload</button>
                        </form>
                    </div>
                </div>
            </div>


            <%- include('includes/end.ejs') %>