<%- include('includes/head.ejs') %>

    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <br>
            <div class="container">
                <h1>Relationship</h1>
                &nbsp;



                 <!-- information -->
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="courseinfo-tab" data-toggle="tab" href="#courseinfo" role="tab" aria-controls="courseinfo"
                  aria-selected="true">Course Length</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="analysis" aria-selected="false">Bloom's Taxonomy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="components-tab" data-toggle="tab" href="#components" role="tab" aria-controls="components" aria-selected="false">Times Components</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="learner-tab" data-toggle="tab" href="#learner" role="tab" aria-controls="learner" aria-selected="false">Sequence Components</a>
              </li>
  
  
            </ul>
  
  
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="courseinfo" role="tabpanel" aria-labelledby="courseinfo-tab">
                <div id="long"></div>
                <div id="medium"></div>
                <div id="short"></div>
              </div>
              <div class="tab-pane" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
               <p>Bloom's Taxonomy</p>
              </div>
              <div class="tab-pane" id="components" role="tabpanel" aria-labelledby="components-tab">
                <p>Time Components</p>
              </div>
  
              <div class="tab-pane" id="learner" role="tabpanel" aria-labelledby="learner-tab">
                <p>Sequence Components</p>
              </div>
            </div>
          </div>
        </div>
                
                



            </div>
            <script>
                // Get data from csv
                Plotly.d3.csv("data/long_length.csv", function (err, rows) {

                    function unpack(rows, key) {
                        return rows.map(function (row) { return row[key]; });
                    }
                    // Learners Clustering
                    var data = [{
                        type: 'scatter',
                        mode: 'markers',
                        x: unpack(rows, 'Grade'),
                        y: unpack(rows, 'Attempt'),
                        text: unpack(rows, 'Learner Type'),
                        marker: {
                            size: 8,
                            sizemode: "area"
                        },
                        transforms: [
                            {
                                type: 'groupby',
                                groups: unpack(rows, 'Learner Type'),
                                styles: [
                                    { target: '0: Sampling', value: { marker: { color: 'red', symbol: 'circle' }, name: 'Sampling Learners' } },
                                    { target: '1: Comprehensive', value: { marker: { color: 'green', symbol: 'square' }, name: 'Comprehensive Learners' } },
                                    { target: '2: Targeting', value: { marker: { color: 'blue', symbol: 'triangle-up' }, name: 'Targeting Learners' } }
                                ]
                            }]
                    }]

                    var layout = {
                        title: {
                            text: 'Lerners in Long Course',
                            font: {
                                family: 'Courier New, monospace',
                                size: 20
                            },
                            xref: 'paper',
                            x: 0.05,
                        },
                        yaxis: {
                            type: 'log',
                            title: 'Attempt'
                        },
                        xaxis: {
                            title: 'Grade'
                        }

                    }

                    // Plot Graph
                    Plotly.plot('long', data, layout)

                });

                // Get data from csv
                Plotly.d3.csv("data/middle_length.csv", function (err, rows) {

                    function unpack(rows, key) {
                        return rows.map(function (row) { return row[key]; });
                    }
                    // Learners Clustering
                    var data = [{
                        type: 'scatter',
                        mode: 'markers',
                        x: unpack(rows, 'Grade'),
                        y: unpack(rows, 'Attempt'),
                        text: unpack(rows, 'Learner Type'),
                        marker: {
                            size: 8,
                            sizemode: "area"
                        },
                        transforms: [
                            {
                                type: 'groupby',
                                groups: unpack(rows, 'Learner Type'),
                                styles: [
                                    { target: '0: Sampling', value: { marker: { color: 'red', symbol: 'circle' }, name: 'Sampling Learners' } },
                                    { target: '1: Comprehensive', value: { marker: { color: 'green', symbol: 'square' }, name: 'Comprehensive Learners' } },
                                    { target: '2: Targeting', value: { marker: { color: 'blue', symbol: 'triangle-up' }, name: 'Targeting Learners' } }
                                ]
                            }]
                    }]

                    var layout = {
                        title: {
                            text: 'Lerners in Medium Course',
                            font: {
                                family: 'Courier New, monospace',
                                size: 20
                            },
                            xref: 'paper',
                            x: 0.05,
                        },
                        yaxis: {
                            type: 'log',
                            title: 'Attempt'
                        },
                        xaxis: {
                            title: 'Grade'
                        }

                    }

                    // Plot Graph
                    Plotly.plot('medium', data, layout)

                });

                // Get data from csv
                Plotly.d3.csv("data/short_length.csv", function (err, rows) {

                    function unpack(rows, key) {
                        return rows.map(function (row) { return row[key]; });
                    }
                    // Learners Clustering
                    var data = [{
                        type: 'scatter',
                        mode: 'markers',
                        x: unpack(rows, 'Grade'),
                        y: unpack(rows, 'Attempt'),
                        text: unpack(rows, 'Learner Type'),
                        marker: {
                            size: 8,
                            sizemode: "area"
                        },
                        transforms: [
                            {
                                type: 'groupby',
                                groups: unpack(rows, 'Learner Type'),
                                styles: [
                                    { target: '0: Sampling', value: { marker: { color: 'red', symbol: 'circle' }, name: 'Sampling Learners' } },
                                    { target: '1: Comprehensive', value: { marker: { color: 'green', symbol: 'square' }, name: 'Comprehensive Learners' } },
                                    { target: '2: Targeting', value: { marker: { color: 'blue', symbol: 'triangle-up' }, name: 'Targeting Learners' } }
                                ]
                            }]
                    }]

                    var layout = {
                        title: {
                            text: 'Lerners in Short Course',
                            font: {
                                family: 'Courier New, monospace',
                                size: 20
                            },
                            xref: 'paper',
                            x: 0.05,
                        },
                        yaxis: {
                            type: 'log',
                            title: 'Attempt'
                        },
                        xaxis: {
                            title: 'Grade'
                        }

                    }

                    // Plot Graph
                    Plotly.plot('short', data, layout)

                });
            </script>

            <%- include('includes/end.ejs') %>